.header_background_colour {
  background-color: $NC-primary !important;
}

.header_text_colour {
  color: #fff !important;
}

.link-header {
   color: #FFFFFF;
    text-decoration: none;
}

.link-header:hover {
   color: #FFFFFF;
    text-decoration: none;
}
