$NC-Red: rgb(228, 96, 83);
$NC-sec-blue: rgb(80, 184, 193);


.card {
  max-width: 450px;
  margin: 30px;
  //background-color: tomato;
  border-radius: 5%;
}

.image-size {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10%;
}

.image-container-size {
  min-width: 400px;
}

.display_flex {
  display: flex;
}

.flex_justify_flex_start {
  justify-content: flex-start;
}

.flex_justify_flex_end {
  justify-content: flex-end;
}

.flex_justify_space {
  justify-content: space-between;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.iconColor {
  color: $NC-Red;
}

.comment_btn_colour {
  color: $NC-sec-blue;
}

.background_colour_sec_blue {
  background-color: $NC-sec-blue;
}
