.card {
  width: 100%;
  margin-bottom: 30px;
  background-color: tomato;
  border-radius: 5%;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.image-size {
  display: block;
  margin: 0 auto;
  width: 50%;
}
